name: Merge Action

on: [push]
env:
   INPUT: "Graphene"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       - name: Checkout
         uses: actions/checkout@master

       - name: Initializing telegram bot
         env:
              TOKEN: ${{ secrets.TOKEN }}
              CHATS: ${{ secrets.CHATS }}

         run: |
              cd tmp
              sed -i "s/enzomacaco/$TOKEN/" config.sh
              chmod +x -R *.sh
              cd ../
              chmod -R +x *
              mkdir ~/tmp
              mv tmp/* ~/tmp/

       - name: Save more space
         run: |
              ~/tmp/telegram -M "⚒ ***Auto Merger***: $INPUT: Saving more space..."
              sudo apt-get remove -y '^ghc-8.*' '^dotnet-.*' '^llvm-.*' 'php.*' azure-cli google-cloud-sdk '^google-.*' hhvm google-chrome-stable firefox '^firefox-.*' powershell mono-devel '^account-plugin-.*' account-plugin-facebook account-plugin-flickr account-plugin-jabber account-plugin-salut account-plugin-twitter account-plugin-windows-live account-plugin-yahoo aisleriot brltty duplicity empathy empathy-common example-content gnome-accessibility-themes gnome-contacts gnome-mahjongg gnome-mines gnome-orca gnome-screensaver gnome-sudoku gnome-video-effects gnomine landscape-common libreoffice-avmedia-backend-gstreamer libreoffice-base-core libreoffice-calc libreoffice-common libreoffice-core libreoffice-draw libreoffice-gnome libreoffice-gtk libreoffice-impress libreoffice-math libreoffice-ogltrans libreoffice-pdfimport libreoffice-style-galaxy libreoffice-style-human libreoffice-writer libsane libsane-common mcp-account-manager-uoa python3-uno rhythmbox rhythmbox-plugins rhythmbox-plugin-zeitgeist sane-utils shotwell shotwell-common telepathy-gabble telepathy-haze telepathy-idle telepathy-indicator telepathy-logger telepathy-mission-control-5 telepathy-salut totem totem-common totem-plugins printer-driver-brlaser printer-driver-foo2zjs printer-driver-foo2zjs-common printer-driver-m2300w printer-driver-ptouch printer-driver-splix
              sudo rm -rf "/usr/local/share/boost"
              sudo rm -rf "$AGENT_TOOLSDIRECTORY"
              sudo swapoff -av
              sudo rm -rf /mnt/swapfile

       - name: Make a initial setup
         run: |
              ~/tmp/telegram -M "⚒ ***Auto Merger***: $INPUT: Make a initial setup (Install packages and clone repo)"
              sudo -E apt-get -qq update
              # Dump command
              sudo -E apt-get -qq install unace unrar python3-dev python3-pip python3-venv python3-wheel zip unzip p7zip-full p7zip-rar sharutils rar uudeview mpack arj curl cabextract rename liblzma-dev python-pip brotli liblz4-tool python-setuptools python3-setuptools unace unrar zip unzip p7zip-full p7zip-rar sharutils rar uudeview mpack arj cabextract file-roller device-tree-compiler liblzma-dev python-pip brotli liblz4-tool gawk aria2 rename python3-setuptools expect -y
              pip install backports.lzma protobuf pycrypto wheel setuptools
              pip3 install -U wheel --user
              pip install -U wheel --user
              pip3 install backports.lzma protobuf pycrypto wheel setuptools

       - name: Now -> Time To Merge
         continue-on-error: true
         run: |
              ~/tmp/telegram -M "⚒ ***Auto Merger***: $INPUT: Cloning the repository..."
              git clone --recurse-submodules https://github.com/Treble-Experience/S_EXT-P-Merger.git
              cd S_*
              ~/tmp/telegram -M "⚒ ***Auto Merger***: $INPUT: Downloading the firmware/ROM"
              sudo wget 'https://releases.grapheneos.org/sunfish-factory-2020.11.05.18.zip' -O zip.zip > /dev/null 2>&1
              
              if [ -f "$(pwd)/zip.zip" ]; then
                  ~/tmp/telegram -M "⚒ ***Auto Merger***: $INPUT: Merging, this can take a while"
                  sudo bash merger.sh "$(pwd)/zip.zip"
              else
                  ~/tmp/telegram -M "⚒ ***Auto Merger***: $INPUT: The firmware/ROM file was not found"
                  exit 1
              fi

              if [ -f "$(pwd)/system.img.zip" ]; then
                 ~/tmp/telegram -M "⚒ ***Auto Merger***: $INPUT: Merge done! Uploading..."
              else
                 ~/tmp/telegram -M "⚒ ***Auto Merger***: $INPUT: Merge failed, check the logs."
                 exit 1
              fi

              sudo chmod 0644 system.img.zip
              mv system.img.zip Graphene.zip
              expect -c "
              spawn sftp pything@frs.sourceforge.net
              expect \"yes/no\"
              send \"yes\r\"
              expect \"Password\"
              send \"${{ secrets.PASSWORD }}\r\"
              expect \"sftp> \"
              send \"cd /home/pfs/project/yumi-project/dumps\r\"
              set timeout -1
              send \"put Graphene.zip\r\"
              expect \"Uploading\"
              expect \"100%\"
              expect \"sftp>\"
              send \"bye\r\"
              interact"
              ~/tmp/telegram -M "⚒ ***Auto Merger***: $INPUT: Uploaded! The file is available on [SourceForge](https://sourceforge.net/projects/yumi-project/files/dumps/MIUI.bin/download), wait a few minutes for the file to appear!"
